<div class="user-detail-container">
  <button class="back" (click)="goBack()">Back</button>
  @if (user) {
  <div class="user-detail-card">
    <img
      [src]="user.imagePath"
      [alt]="user.name"
      title="image"
      class="user-image"
    />
    <div class="user-info">
      <div class="user-id"><strong>User ID:</strong> {{ user.id }}</div>
      <h1>{{ user.name }}</h1>
      <h2>{{ user.email }}</h2>
      <a [href]="user.website" target="_blank">Portfolio</a>
    </div>
  </div>
  } @else {
  <div class="error-message">
    <h2>User Not Found</h2>
  </div>
  }
</div>
