.container {
  background: #8b4513;
  color: white;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}

.container h1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
