table {
  width: 350px;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 8px;
  text-align: left;
}
th {
  text-align: center;
}
input[type="text"],
input[type="password"],
select,
textarea {
  width: 95%;
}
.center-buttons {
  text-align: center;
}
